doctype html
html
  head
    title= title
    link(rel="icon", href="/images/favicon.ico")
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Indie Flower')
    link(type='text/css' href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet')
    link(rel="stylesheet" href= "stylesheets/lightbox.css")
    link(rel="stylesheet" href= "stylesheets/bootstrap.min.css")
    link(rel="stylesheet" href= "stylesheets/mycss.css")
    script(src= "javascripts/jquery-2.1.1.js")
    script(src= "javascripts/lightbox.js")
    script(src="javascripts/masonry.pkgd.js")
    script(src="javascripts/imagesloaded.pkgd.js")
    script.
      $(document).ready(function() {
        var container = $('#container');
        console.log(container);
        var msnry = new Masonry( container[0], {
          // options...
          itemSelector: '.item',
          columnWidth: 265,
          isFitWidth: false
        });
        imagesLoaded(container[0], function() {
          msnry.layout();
        });

        var wrapper = $('<div/>').css({height:0,width:0,'overflow':'hidden'});
        var fileInput = $(':file').wrap(wrapper);
        console.log(fileInput);

        fileInput.change(function(){
            $this = $(this);
            if ($this.val() === '') {
              $('#file').text('CHOOSE FILE');
            } else {
              $('#file').text($this.val());
            }
        })

        $('#file').click(function(){
          fileInput.click();
        }).show();
      });


  body
    header
      .container
        h1.logo #{title}
        p.lead #{title} pictures & images!
      
        div(class="well well-lg")
          p(class="formlead") Upload Image
          
          form(method="post" action="#{title.toLowerCase()}/api/photo" enctype="multipart/form-data" class="form-horizontal")
            //
              .form-group
                .col-sm
                  input(type="text" class="form-control" name="caption" id="caption" placeholder="Caption")
              
            .form-group
              .col-sm
                input(type="text" class="form-control" name="description" id="description" placeholder="Description")
            div(class="btn btn-warning")
              #file CHOOSE FILE
              input(type="file" name="fileUploaded")
            br
            br
            input(type="submit" class="btn btn-default" value="SUBMIT")

        div(class="well well-log")
          p(class="formlead") Upload Image by URL
          form(method="post" action="#{title.toLowerCase()}/api/url_photo" enctype="multipart/form-data" class="form-horizontal")
            .form-group
              .col-sm
                input(type="text" class="form-control" name="img_url" id="img_url" placeholder="Image URL")
            input(type="submit" class="btn btn-default" value="SUBMIT")

    .image-set
      wrapper
        div(id="container" class="js-masonry"
    data-masonry-options='{ "columnWidth": 265, "itemSelector": ".item" }')
          each image, index in images
            .item
              .pin
                .single-image
                  a(href='uploads/' + image.filename data-lightbox="roadtrip")
                    img(src='uploads/' + image.filename)

                .des
                  if image.description
                    p #{image.description}
                      
    footer
      .container
        p
          a(href="/") Back to Homepage
          br
          a(href="#{title.toLowerCase()}/delete" style="color: #9A3334; font-size: 20px") click here to delete image 

